<!DOCTYPE html>
<html lang="ja">
   <head>
      <meta charset="utf-8">
      <title>Vue.js　勉強中</title>
      <link href="style.css" rel="stylesheet">
   </head>
   <body>
      <div id="app">
         <h1>{{hoge}}</h1>
         <ol>
            <li v-for="item in items">{{ item }}</li>
         </ol>
         <button v-on:click="pochitto">→ボタン←</button>
         <p>入力値:{{str}}</p>
         <input v-model="str"> <!-- v-model.number　とすると数値として受け取れる -->
         <h1 v-if="show">デーモンの召喚</h1>
         <input type="text" v-bind:value="str"> <!-- 属性には直接マスタッシュ{{}}は使えない NG value={{str}} -->

         <h1>カウントアプリ</h1>
         <h2>現在のカウント値:{{count}}</h2>
         <input type="button" v-on:click="increment" value="カウントアップ">
      </div>
      <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
      <script src="main.js"></script>
   </body>
</html>